<!DOCTYPE html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0"/>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header><%= title %></header>

    <div class="menu" menu="switches">
      <div class="item" data="bagazh">Багажник</div>
      <div class="item" data="rgb">Светомузыка</div>
      <div class="item" data="music">Задние колонки</div>
      <div class="item" data="offAll">Выключить все</div>
    </div>

    <script src="/javascripts/jquery.js"></script>
    <script src="http://avezof.ru:3001/socket.io/socket.io.js"></script>
    <script>
      settings = {
        <% for(var key in settings){ %>
          <%= key %>:<%= settings[key] %>,
        <% } %>
      }
    </script>
    <script src="/javascripts/js.js"></script>
  </body>
</html>