body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #f1f1f1;
  margin: 0;
}

a {
  color: #007F83;
}

header{
	background: #007F83;
	color: #fff;
	padding: 8px 12px;
	text-align: center;
	text-transform: uppercase;
}

.menu{
	font-size: 0;
}

.menu .item{
	display: inline-block;
	font-size: 14px;
	text-align: center;
	width: 50%;
	padding: 40px 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #C05B69;
	box-shadow: inset rgba(0, 0, 0, 1) 0px 0px 1px;
	color: #fff;
	text-shadow: rgba(0,0,0,0.5) 0 1px 1px;
}

.menu .item.active{
	background: #50D2C0;
}